@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

:root {
  --accent: #54AACE;
  --primary: #414141;
}

.contact-icon svg {
  fill: red;
}

.filter-blue {
  mix-blend-mode: hard-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.abouthomebg{
  background: linear-gradient(180deg, #1A27C8 0%, #0D1465 100%);}